/back/node_modules
/back/config.json
/back/RFID/
/back/Routes/RegParam/
/back/phpmyadmin


/frontreact/node_modules
/frontreact/README.md
/frontreact/public/robots.txt
/frontreact/public/manifest.json
/safe






